<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630385136368-ig3ve08o6bj6udp2e0cqcmi7b7uphe31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630385136368-ig3ve08o6bj6udp2e0cqcmi7b7uphe31</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>630385136368-n1cfijiahunmn9gvasp7gomte0rvaost.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANczb0CW7-lSq4XN9U0NIB4VMlXFnyM-I</string>
	<key>GCM_SENDER_ID</key>
	<string>630385136368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.electricVehicle</string>
	<key>PROJECT_ID</key>
	<string>electric-vehicle-10272</string>
	<key>STORAGE_BUCKET</key>
	<string>electric-vehicle-10272.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630385136368:ios:355b42d6d8e29223cf2835</string>
</dict>
</plist>